<footer>
    <div class="container">
        <div class="fleft">
            <div >
                <p class="phone"><a href="tel:{{'footerPhone' | translate}}">{{'footerPhone' | translate}}</a></p>
                <p class="email"><a href="mailto:{{'footerEmail' | translate}}">{{'footerEmail' | translate}}</a></p>
            </div>
        </div>
        <div class="fmid">
            <div>
                <p class="addr">{{'footerAddr' | translate}}</p>
            </div>
        </div>
        <div class="fright">
            <div>
                <p class="social">
                    <a href="" class="social-btn facebook" target="_blank"></a>
                    <a href="" class="social-btn instagram" target="_blank"></a>
                    <a href="" class="social-btn youtube" target="_blank"></a>
                </p>
                <p class="comp">&#169; {{'footerCoralGroup' | translate}}</p>
            </div>
        </div>
    </div>
</footer>