
header.main {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  height: 40px;
  &:hover > div.head {
    @include respond-to(desctop) {
      top: 0px;
      height: 120px;
    }
  }
  & > div.topline {
    background: #00204b;
    height: 40px;
    position: relative;
    z-index: 999;
    & > div.container {
      & > p {
        display: block;
        margin: 0px;
        & > a.mobile-menu-btn {
          display: none;
          @include respond-to(mobile) {
            display: block;
          }
        }
        & > a.personal {
          color: #fff;
          text-decoration: none;
          float: right;
          line-height: 20px;
          padding: 10px 0px 0px 0px;
          &:hover {
            border-bottom: 1px dashed #ffffff;
          }
        }
      }
    }
  }
  & > div.head {
    background: #bfc0c8;
    display: inline-block;
    position: absolute;
    margin: 40px 0px 0px 0px;
    width: 100%;
    top: -200px;
    transition: all 0.5s;
    opacity: 0.95;
    &.forceShow {
      top: 0px;
      height: 120px;
    }
    & > div.container {
      & > div.mainlogo {
        & > a {
          width: 209px;
          height: 56px;
          display: block;
          background: url('/images/template/logomain.png');
          float: left;
          margin: 30px 0px 0px 0px;
        }
      }
    }
  }
}

div.language {
  position: absolute;
  top: 47px;
  right: 0px;
  & > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e0e0e0;
    background: #0097d4;
    font-size: 9pt;
    display: inline-block;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    &.active {
      color: #a5a5a5;
      background: #ffffff;
    }
  }
}

.show-large header .head {
  @media only screen and (min-width: 1580px) {
    top: 0px !important;
  }
}

.loginForm {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  display: block !important;
  width: 260px;
  margin: -120px 0px 0px -130px;
  background: #dcdcdc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  & > form {
    & > h2 {
      margin: 0px;
      color: #ffffff;
      padding: 20px 10px;
      background: #00204b;
      font-size: 14pt;
      font-weight: 100;
    }
    & > .closeLoginForm {
      position: absolute;
      transform: rotate(45deg);
      width: 30px;
      height: 30px;
      font-size: 18pt;
      border: 2px solid #dcdcdc;
      background: #00204b;
      color: #ffffff;
      border-radius: 50%;
      top: -14px;
      right: -11px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      line-height: 28px;
      text-align: center;
      outline: none;
    }
    & > div {
      text-align: center;
      & > input {
        margin: 15px 0px 0px 0px;
        font-size: 14pt;
        padding: 7px 10px;
        width: 190px;
        &[type="submit"] {
          margin: 15px 0px 15px 0px;
          width: 214px;
        }
      }
    }
  }
}