<div class="show-large">
    <header-component></header-component>
</div>
<div class="portfolio">
    <owlcarousel class="owl-carousel owl porft">
        <div ng-repeat="item in $ctrl.items track by $index">
            <h2>{{item.template_name | translate}}</h2>
            <div class="images">
                <div class="image" ng-repeat="image in item.images track by $index">
                    <a id="portfoilio_{{item.id}}_{{image.id}}" rel="group_{{item.id}}" href="/images/portfolio/photo/{{image.file_name}}" data-lightbox="portfolio_{{item.id}}" style="background-image: url('/images/portfolio/photo/{{image.file_name}}')"></a>
                </div>
            </div>
        </div>
    </owlcarousel>
</div>
<div class="hidden-phone old" ng-class="{'hiddenpgoneng': $ctrl.heddenphone}" ng-click="$ctrl.heddenphone = !$ctrl.heddenphone">
    <footer-component></footer-component>
</div>