<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app.admin">© coral-group - {{'AdmAdminPanel' | translate}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" ui-sref="app.logout" >{{'AdmLogout' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="display: block; height: 50px; width: 100%;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.menus">{{'AdmMenus' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.translate">{{'AdmTranslations' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.mpitems">{{'AdmMainPageItems' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.abitems">{{'AdmAboutPageItems' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.service">{{'AdmService' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.portfolio">{{'AdmPortfolio' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.vacancy">{{'AdmVacancy' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.news">{{'AdmNews' | translate}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.newstags">{{'AdmNewsTags' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ui-view></ui-view>
</div>
