<h1 class="page-header" id="addMenuHash">{{'AdmNewsTagsItems' | translate}}</h1>
<div uib-alert ng-show="$ctrl.messageText" ng-class="'alert-' + $ctrl.messageType" close="$ctrl.messageText=''">{{$ctrl.messageText | translate}}</div>
<h2 class="sub-header">{{'NewsTagsAdd' | translate}}</h2>
<form class="form-adm">
    <div class="form-group">
        <label for="abTemplate">{{'NewsTagsTemplate' | translate}}</label>
        <input class="form-control" type="text" id="abTemplate" ng-model="$ctrl.item.tag_template">
    </div>
    <button type="submit" class="btn btn-success" ng-click="$ctrl.saveItem()">{{'AdmSave' | translate}}</button>
</form>
<h2 class="sub-header">{{'AdmNewsTagsItems' | translate}}</h2>
<div class="row">
    <div>
        <ul dnd-list="$ctrl.items" class="dndList">
            <li ng-repeat="item in $ctrl.items" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="$ctrl.items.splice($index, 1); $ctrl.sortItems()" dnd-selected="models.selected = item">
                <div >
                    <p class="abitem">{{item.tag_template}}
                        <span class="pull-right">
                            <button class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="$ctrl.editItem(item)"></button>
                            <button class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.deleteItem(item.id)"></button>
                        </span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
