header.main {
  & > div.head {
    & > div.container {
      & > nav > menu-component {
        & > ul {
          width: 60%;
          margin: 0px auto;
          padding: 0px;
          list-style-type: none;
          text-align: center;
          & > li:hover > ul {

          }
          & > li.active > a {
            border-top: 5px solid #0097d4;
          }
          & > li {
            list-style-type: none;
            display: inline-block;
            height: 120px;
            & > a {
              display: block;
              border-top: 5px solid #bfc0c8;
              margin: 0px 14px;
              color: #58595b;
              line-height: 115px;
              text-decoration: none;
              text-transform: uppercase;
              cursor: pointer;
              &:hover {
                border-top: 5px solid #0097d4;
              }
            }
            & > ul {
              list-style-type: none;
              display: none;
            }
          }
        }
      }
    }
  }
}