body {
  margin: 0px;
  padding: 0px;
}

header.main {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  & > div.topline {
    background: #00204b;
    height: 40px;
    & > div.container {
      & > p {
        display: inline-block;
        float: right;
        margin: 10px 0px;
        & > a {
          color: #ffffff;
          text-decoration: none;
          &:hover {
            border-bottom: 1px dashed #ffffff;
          }
        }
      }
    }
  }
  & > div.head {
    background: #bfc0c8;
    display: inline-block;
    width: 100%;
    height: 120px;
    & > div.container {
      & > div.mainlogo {
        & > a {
          width: 209px;
          height: 56px;
          display: block;
          background: url(/images/template/logomain.png);
          float: left;
          margin: 30px 0px 0px 0px;
        }
      }
    }
  }
}

div.container {
  margin: 0px 30px;
}