$phone: 540px;
$tablet: 960px;
$small: 1100px;
$medium: 1400px;
$large: 2000px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $phone) { @content }
  }
  @if $media == tablet {
    @media only screen and (min-width: $phone + 1) and (max-width: $tablet) { @content }
  }
  @if $media == small {
    @media only screen and (min-width: $tablet + 1) and (max-width: $small) { @content }
  }
  @if $media == medium {
    @media only screen and (min-width: $small + 1) and (max-width: $medium) { @content }
  }
  @if $media == large {
    @media only screen and (min-width: $medium + 1) { @content }
  }
  @if $media == toolarge {
    @media only screen and (min-width: $large + 1) { @content }
  }
  @if $media == mobile {
    @media only screen and (max-width: $tablet) { @content }
  }
  @if $media == desctop {
    @media only screen and (min-width: $tablet + 1) { @content }
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 320px;
  position: relative;
}

div.container {
  @include respond-to(phone) {
    margin: 0px 10px;
  }
  @include respond-to(tablet) {
    margin: 0px 20px;
  }
  @include respond-to(small) {
    margin: 0px 10px;
  }
  @include respond-to(medium) {
    margin: 0px 20px;
  }
  @include respond-to(large) {
    margin: 0px 30px;
  }
  height: 100%;
  position: relative;
  z-index: 998;
}

.aligner.center {
  display: table;
  width:100%;
  height: 100%;
  padding: 50px 0px 0px 0px;
  & > .sliderWrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}