.slide1 {
  background-image: url('/images/template/bunnerp1_540.png');
  @include respond-to(phone) {
    background-image: url('/images/template/bunnerp1_1100.png');
  }
  @include respond-to(tablet) {
    background-image: url('/images/template/bunnerp1_1100.png');
  }
  @include respond-to(small) {
    background-image: url('/images/template/bunnerp1_1100.png');
  }
  @include respond-to(medium) {
    background-image: url('/images/template/bunnerp1_1366.png');
  }
  @include respond-to(large) {
    background-image: url('/images/template/bunnerp1_1920.png');
  }
}

.slide2 {
  background-image: url('/images/template/bunnerp2_1366.png');
  @include respond-to(medium) {
    background-image: url('/images/template/bunnerp2_1366.png');
  }
  @include respond-to(large) {
    background-image: url('/images/template/bunnerp2_1920.png');
  }
}

.slide3 {
  background-image: url('/images/template/bunnerp3_1366.png');
  @include respond-to(phone) {
    background-image: url('/images/template/bunnerp3_540.png');
  }  @include respond-to(tablet) {
       background-image: url('/images/template/bunnerp3_960.png');
     }
  @include respond-to(small) {
    background-image: url('/images/template/bunnerp3_1100.png');
  }
  @include respond-to(medium) {
    background-image: url('/images/template/bunnerp3_1366.png');
  }
  @include respond-to(large) {
    background-image: url('/images/template/bunnerp3_1920.png');
  }
}

.slide1, .slide2, .slide3 {
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.slide3 footer {
  position: absolute;
}

.slide2 .slideServices > div {
  @include respond-to(large) {
    width: 50%;
    margin: 0px auto;
  }
  @include respond-to(medium) {
    width: 50%;
    margin: 0px auto;
  }
  @include respond-to(small) {
    width: 70%;
    margin: 0px auto;
  }
  @include respond-to(tablet) {
    width: 100%;
    margin: 0px auto;
  }
  @include respond-to(phone) {
    width: 100%;
    margin: 0px auto;
  }
  & > div {
    display: inline-block;
    width: 33%;
    @include respond-to(phone) {
      width: 50%;
    }
    text-align: center;
    vertical-align: top;
    & > a.serviceImage {
      width: 150px;
      height: 150px;
      @include respond-to(phone) {
        width: 85px;
        height: 85px;
      }
      @include respond-to(tablet) {
        width: 120px;
        height: 120px;
      }
      @include respond-to(small) {
        width: 100px;
        height: 100px;
      }
      @include respond-to(medium) {
        width: 100px;
        height: 100px;
      }

      display: block;
      background-size: 100%;
      margin: 0px auto;
      cursor: pointer;
      border-radius: 50%;
    }
    & > table.vgcenter {
      margin: 0px auto 0px auto;
      width: 100px;
      @include respond-to(phone) {
        width: 65px;
        margin: 0 auto 0px auto;
      }
      @include respond-to(tablet) {
        width: 100px;
      }
      & td {
        height: 120px;
        vertical-align: middle;
        @include respond-to(phone) {
          height: 32px;
        }
        @include respond-to(medium) {
          height: 100px;
        }
        & a.serviceDesc {
          color: #ffffff;
          text-align: center;
          height: 120px;
          display: table-cell;
          vertical-align: middle;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14pt;
          @include respond-to(phone) {
            height: 28px;
            font-size: 7pt;
          }
          @include respond-to(tablet) {
            font-size: 11pt;
          }
          @include respond-to(small) {
            font-size: 11pt;
          }
          @include respond-to(medium) {
            font-size: 12pt;
            height: 100px;
          }
        }
      }
    }
  }
}
