<header-component></header-component>
<div id="fullpage">
    <div class="section slide1">

    </div>
    <div class="section slide2">
        <div class="slideServices">
            <div ng-repeat="service in $ctrl.services">
                <a class="serviceImage" style="background-image: url('/images/mpItems/{{service.image}}')"></a>
                <a class="serviceImage" ui-sref="{{service.menu_id}}">{{service.text_template}}</a>
            </div>
        </div>
    </div>
    <div class="section slide3">
        <footer-component></footer-component>
    </div>
</div>