<div class="desctop">
    <div class="language">
        <a href="" ui-sref="app.main({locale: 'ru'})">ru</a>
        <a href="" ui-sref="app.main({locale: 'en'})">en</a>
        <a href="" ui-sref="app.login">login</a>
    </div>
</div>
<div id="fullpage">
    <div class="section">
        <h1>{{ 'Slide1' | translate }}</h1>
        <a href="" >next</a>
    </div>
    <div class="section">
        <h1>{{ 'Slide2' | translate }}</h1>
        <a href="" >prev</a>
        <a href="" >next</a>
    </div>
    <div class="section">
        <h1>{{ 'Slide3' | translate }}</h1>
        <a href="" >prev</a>
    </div>
</div>