<div class="loginForm" ng-show="$ctrl.showLoginForm">
    <form name="pf_login_form" action="http://jti.system.gmc-group.ru/" method="post">
        <h2>{{'PersonalAccount' | translate}}</h2>
        <div style="margin: 15px 0px;">
            <input type="text" name="Login" placeholder="{{'inputLoginStr' | translate}}">
            <input password="text" name="Password" placeholder="{{'inputPasswordStr' | translate}}">
            <input type="hidden" value="Core_Users-Login" name="controller" >
            <input type="hidden" value="Login" name="action">
            <input type="submit" name="e" value="{{'loginInterStr' | translate}}">
        </div>
        <a class="closeLoginForm" ng-click="$ctrl.showLoginForm = false">+</a>
    </form>
</div>
<header class="main">
    <div class="topline">
        <div class="container">
            <p>
                <a ng-click="showMenu = !showMenu" ng-class="{'active' : showMenu}" class="mobile-menu-btn">

                </a>
                <a class="personal" href="javascript:void(0);" ng-click="$ctrl.showLoginForm = true">
                    {{ 'PersonalAccountHead' | translate }}
                </a>
            </p>
        </div>
    </div>
    <div class="menumobile" ng-class="{'showMobileMenu' : showMenu}">
        <nav>
            <menu-component></menu-component>
        </nav>
    </div>
    <div class="head" ng-class="{'forceShow': $root.showHeader == true, 'showOnlyDesctop': $root.showOnlyDesctop == true}">
        <div class="container">
            <div class="mainlogo">
                <a href="" ui-sref="app.main"></a>
            </div>
            <div class="menumain">
                <nav>
                    <menu-component></menu-component>
                </nav>
            </div>
            <div class="language">
                <a href="" ng-class="{'active': $root.locale == 'ru'}" ui-sref="app.main({locale: 'ru'})">ru</a>
                <a href="" ng-class="{'active': $root.locale == 'en'}" ui-sref="app.main({locale: 'en'})">en</a>
            </div>
        </div>
    </div>
</header>